$white: rgb(255, 255, 255);
$lightgray: rgb(238, 238, 238);
$asphalt: rgb(85, 85, 85);
$blue: rgb(85, 164, 242);
$green: rgb(46, 204, 113);
$orange: rgb(230, 126, 34);
$red: rgb(231, 76, 60);
$black: rgb(17, 17, 17);

body {
  color: $black;
  line-height: 1.8;
}

.hero-unit {
  margin: 20% auto 0 auto;
  width: 800px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  text-align: center;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

a {
  color: $blue;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all .3s ease;

  &:hover {
    color: $red;
    border-bottom: 0;
    text-decoration: none;
  }
}

.container {
  max-width: 750px;
  margin-bottom: 50px;
}